/*Main CSS*/
body {
	font-family:$primaryFont;
	line-height:1.4;
	font-size:16px;
}

#main-content {
	background-image: url(../images/bg-bg.png);
	repeat: repeat;
	height: 100%;
}

/*Typograpghy Classes*/
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	font-family:$secondaryFont;
} 

h1, .h1 {
	font-size:40px;
	padding:0 0 $setSpacing /2 0;
}

h2, .h2 {
	font-size:32px;
	padding:0 0 $setSpacing /2 0;
}

h3, .h3 {
	font-size:26px;
	padding:0 0 $setSpacing /2 0;
}

h4, .h4 {
	font-size:20px;
	padding:0 0 $setSpacing /2 0;
}

p, ul, ol {
	padding:0 0 $setSpacing /2 0;
	widows: 2;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


/*Form Styles*/
/*
:required {
	background:red;
}

:required:hover {
	
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { 
  color: #ccc;
}

::-moz-placeholder { 
   color: #ccc;
}

:-ms-input-placeholder {  
   color: #ccc;  
}

input[type=text], input[type=email], input[type=password] {
	
}

button, input[type="submit"], .button {
	
}

.form-field-wrapper {

}

*/

/*Elastic Videoes / Maps*/
.item-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.item-container iframe,  
.item-container object,  
.item-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*Wrapper Styles*/
// .wrapper-100 {
// 	background:#b21414;
// }

// .wrapper-50 {
// 	background:#da630b;
// }

// .wrapper-25 {
// 	background:#0f9b33;
// }

// .wrapper-33 {
// 	background:#ffe400;
// }

// .wrapper-66 {
// 	background:#bb2171;
// }

// .wrapper-75 {
// 	background:#0f579b;
// }







.mainMenu ul li.fadeInUp {
	// display: none;
	&:nth-child(1){
		animation-delay: .3s
	}
	&:nth-child(2){
		animation-delay: .6s
	}
	&:nth-child(3){
		animation-delay: .9s
	}
	&:nth-child(4){
		animation-delay: 1.2s
	}
	&:nth-child(5){
		animation-delay: 1.5s
	}
	&:nth-child(6){
		animation-delay: 1.8s
	}
}


.img-block {
	margin: 0;
	position: relative;
	// padding-bottom: 20%;
	transition: all 1s;
	img, iframe, video {
		// width: 100%;
		// height: 100%;
	}
	&:hover {
		
  -webkit-filter: brightness(2);
  filter: brightness(2);
	}

	a {
	// display: inline-block;
    // height: 100%;
    // width:100%;
	}

}

.hover-grow, .main-title {
	transition: all 1s;
	&:hover {
		transform: scale(1.1,1.1);
	}
}

.main-title {
	width: auto;
}

.content-list {
	list-style-type: none;
	// padding: 0 0 0 10%;
	padding: 0;
	// background-color: green;
	clear: both;
	// overflow: auto;
	position: relative;


	// background-image: url(../images/chill-tile.jpg);
    // repeat-x: no-repeat;
    // background-repeat: repeat-y;

	&:nth-child(4){

	}

	// margin-bottom: 10px;
}


.main-title {
	a {
		text-decoration: none;
	}
}


.tab {
	float: left;
	background-color: red;
	&:hover {
		background-color: lighten(red, 20%);
	}
}


.show-arrow {
	background-image: url("../images/arrow1.png");
	background-repeat: no-repeat;
	background-size: 32px;
    display: inline-block;
    height: 26px;
    width: 30px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 999;
    transition: all 0.8s;

}

.open-more{ opacity: 0.6; }

.show-more {
	display: none;
}

header {
	// background-image: url("../images/subtle_grunge.png");
	background-image: url("../images/BANNER1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0px 15px;
	height: 110px;
	@include viewport(600){
		height: 160px;
	}
}

.art {
	.masonry-item { margin:0; }
}

.mainMenu a {
	font-size: 20px;
}


// .rotated {

//   transform: rotate(90deg);
//   -ms-transform: rotate(90deg); /* IE 9 */
//   -moz-transform: rotate(90deg); Firefox
//   -webkit-transform: rotate(90deg); /* Safari and Chrome */
//   -o-transform: rotate(90deg); /* Opera */
// }




.rotate {
    transform: rotate(-180deg);
    /*transform: rotate(180deg);*/
    transition: .3s;
}
.rotate-reset {
    transform: rotate(0deg);
    transition: .3s;
}













/* Responsive IFRAME Embed Encoding 
   Adapts fixed pixel IFRAME sizes and makes them responsive. */


/* First, define the common wrapper elements 
   Padding-top is for the fixed height header of the embedded content */

.youtubeWrapper, .vimeoWrapper, .instagramWrapper {
    position: relative;
    padding-top: 30px; height: 0; overflow: hidden;
}


/* Set the padding-bottom for 16:9 aspect ratio video from YouTube & Vimeo */ 
.youtubeWrapper, .vimeoWrapper {
    padding-bottom: 56.25%;      
}

/* Set padding-bottom for 5:6 aspect ratio Instagram content */
.instagramWrapper {
  padding-bottom: 120%;
}
    
/* For each content source, set the IFRAME to be top left and occupy 100% of width and height of the containing DIV wrapper */    
.img-block iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.mode {
	position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 220px;
    background-color: green;
}


