<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->        
<head>
	<meta charset="utf-8">
	<title>Groove Deluxe</title>
	
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="assets/css/styles.css?v=1.0">
    <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />

    <script src="assets/scripts/modernizr-2.8.3.min.js" type="text/javascript"></script>

    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script> -->

 

    <script src="http://www.youtube.com/iframe_api"></script>


    

   <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="/assets/css/ie.css">
    <![endif]-->
    <!-- Note: Use lt IE 9 if you want media queries to show in IE9 -->

</head>

<body>
<header class="group">  
     <!-- .container is used if there are full width elements on the page otherwise just have one wrapper -->
    <div class="container">
        <h1 class="center main-title hide"><a href="">Groove Deluxe</a></h1>





        <!-- helpful shortcute for screen readers -->
        <section class="accessibility-help hide">
            <h2 class="hide">Accessibility links</h2>
            <ul>
                <li><a href="#main-content">Skip to main content</a></li>
            </ul> 
        </section>
        
           
    <div class="container">
  <nav class="mainMenu"><!-- "nav" is an HTML5 element, you can use div if required or https://github.com/aFarkas/html5shiv to force support in ie7 and ie8 -->
        <label for="toggleMenu" class="menuTitle" onclick="">MENU</label>
        <!-- onclick overwrides iOS 6 and Android 4.3  --> 
        <input type="checkbox" id="toggleMenu" />
        <ul>
            <li class="animated fadeInUp"><a href="index.html">Music</a></li>
            <li class="animated fadeInUp"><a href="#">About</a></li>
            <li class="animated fadeInUp"><a href="art.html">Art</a></li>
            <li class="animated fadeInUp"><a href="#">Contact</a></li>
        </ul>
    </nav>
    
    </div>

    <div class="button-group filter-button-group">
      <button data-filter="*">show all</button>
      <button data-filter=".g-chill">Chill Deluxe</button>
      <button data-filter=".g-amb">SuperChill Deluxe</button>
      <button data-filter=".g-groove">Soul Deluxe</button>
      <button data-filter=".g-bass">Bass Deluxe</button>
    </div>
    
    </div>
</header>

<div id="main-content" class="group">