<%= partial "header" %>
<div class="container">
	
<section class="masonry-wrapper art">
<div class="wrapper-container masonryfy">
	
<div class="masonry-wrapper" data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
  <div class="masonry-item wrapper-25"><img src="https:/placehold.it/600x600" alt=""></div>
  <div class="masonry-item wrapper-25"><img src="https:/placehold.it/600x600" alt=""></div>
  <div class="masonry-item wrapper-25"><img src="https:/placehold.it/600x600" alt=""></div>
  <div class="masonry-item wrapper-25"><img src="https:/placehold.it/600x600" alt=""></div>
  <div class="masonry-item wrapper-25"><img src="https:/placehold.it/600x600" alt=""></div>
  <div class="masonry-item wrapper-25"><img src="https:/placehold.it/600x600" alt=""></div>
  <div class="masonry-item wrapper-25"><img src="https:/placehold.it/600x600" alt=""></div>
  <div class="masonry-item wrapper-25"><img src="https:/placehold.it/600x600" alt=""></div>
  <div class="masonry-item wrapper-25"><img src="https:/placehold.it/600x600" alt=""></div>
  <div class="masonry-item wrapper-25"><img src="https:/placehold.it/600x600" alt=""></div>
  <div class="masonry-item wrapper-25"><img src="https:/placehold.it/600x600" alt=""></div>


  
</div>

</div>

</section>



</div><!-- end container -->

<%= partial "footer" %>