<%= partial "header-sort" %>
<div class="container">
	
<section class="art">

<!-- <div class="wrapper-container masonryfy"> -->
	
<div class="grid">
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img1.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img2.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img3.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img4.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img7.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img5.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img6.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img7.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img8.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img9.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img10.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img11.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img12.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img13.jpg" alt="#"></div>
  <div class="element-item wrapper-25"><img src="assets/images/testingimg/tmp-img14.jpg" alt="#"></div>
  


  
</div>

<!-- </div> -->

</section>



</div><!-- end container -->

<%= partial "footer" %>