<%= partial "header" %>
<div class="container">
	
	<div class="wrapper-container group">
		<!-- 	<div class="mode float-left"></div>
		-->
		<ul class="content-list group" id="list--chill">
			<!-- <div class="mode float-left"></div> -->
			<!-- <div class="tab"> -->
			<li class="wrapper-25 img-block video_container">
				<a href="6qwv2f5m0xM" class="vid_trigger"></a>
				<!-- <div id="ytvideo" style="display:none;"></div> -->
				<img src="assets/images/1.jpeg" alt="#" vid="zDFyFhGCxD0">
				<!-- <iframe src="https://www.youtube.com/embed/zDFyFhGCxD0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
			</li>
			<li class="wrapper-25 img-block video_container" id="t2">
				<img src="assets/images/2.jpeg" alt="#" vid="zDFyFhGCxD0">
				<!-- <iframe src="https://www.youtube.com/embed/zDFyFhGCxD0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
			</li>
			<li class="wrapper-25 img-block" id="t3">
				<img src="assets/images/3.jpeg" alt="#" vid="zDFyFhGCxD0">
				<!-- <iframe src="https://www.youtube.com/embed/zDFyFhGCxD0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
			</li>
			<li class="wrapper-25 img-block">
				<img src="assets/images/2.jpeg" alt="#" vid="zDFyFhGCxD0">
				<!-- <iframe src="https://www.youtube.com/embed/zDFyFhGCxD0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
			</li>
			<li class="wrapper-25 img-block openMore">
				<div class="show-arrow"></div>
				<img src="assets/images/1.jpeg" alt="#">
			</li>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="assets/images/4.jpeg" alt="#">
					<!-- <iframe src="https://www.youtube.com/embed/zDFyFhGCxD0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
				</li>
				<li class="wrapper-25 img-block">
					<img src="assets/images/5.jpeg" alt="#">
					<!-- <iframe src="https://www.youtube.com/embed/zDFyFhGCxD0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
				</li>
				<li class="wrapper-25 img-block">
					<img src="assets/images/6.jpeg" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="assets/images/7.jpeg" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="assets/images/8.jpeg" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="assets/images/9.jpeg" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<div class="show-arrow"></div>
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="assets/images/10.jpeg" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="assets/images/11.jpeg" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="assets/images/12.jpeg" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="assets/images/13.jpeg" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="assets/images/4.jpeg" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<div class="show-arrow"></div>
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<!-- </div> -->
		</ul>


		<ul class="content-list group" id="list--breaks">
			<!-- <div class="tab"> -->
			<li class="wrapper-25 img-block">
				<img src="assets/images/15.jpeg" alt="#">
				<!-- <iframe src="https://www.youtube.com/embed/zDFyFhGCxD0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
			</li>
			<li class="wrapper-25 img-block">
				<img src="assets/images/16.jpeg" alt="#">
				<!-- <iframe src="https://www.youtube.com/embed/zDFyFhGCxD0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
			</li>
			<li class="wrapper-25 img-block">
				<img src="assets/images/17.jpeg" alt="#">
				<!-- <iframe src="https://www.youtube.com/embed/zDFyFhGCxD0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
			</li>
			<li class="wrapper-25 img-block">
				<img src="assets/images/18.jpeg" alt="#">
			</li>
			<li class="wrapper-25 img-block openMore">
				<div class="show-arrow"></div>
				<img src="assets/images/21.jpeg" alt="#">
			</li>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<div class="show-arrow"></div>
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<!-- </div> -->
		</ul>
		<ul class="content-list group" id="list--bass">
			<!-- <div class="tab"> -->
			<li class="wrapper-25 img-block">
				<img src="assets/images/4.jpeg" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="assets/images/6.jpeg" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="assets/images/23.jpeg" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="assets/images/22.jpeg" alt="#">
			</li>
			<li class="wrapper-25 img-block openMore">
				<div class="show-arrow"></div>
				<img src="assets/images/8.jpeg" alt="#">
			</li>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<div class="show-arrow"></div>
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<!-- </div> -->
		</ul>
		<ul class="content-list wow fadeIn">
			<!-- <div class="tab"> -->
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block openMore">
				<div class="show-arrow"></div>
				<img src="http://lorempixel.com/600/600" alt="#">
			</li>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<!-- </div> -->
		</ul>
		<ul class="content-list wow fadeIn">
			<!-- <div class="tab"> -->
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block openMore">
				<div class="show-arrow"></div>
				<img src="http://lorempixel.com/600/600" alt="#">
			</li>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<!-- </div> -->
		</ul>
		<ul class="content-list wow fadeIn">
			<!-- <div class="tab"> -->
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block openMore">
				<div class="show-arrow"></div>
				<img src="http://lorempixel.com/600/600" alt="#">
			</li>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<!-- </div> -->
		</ul>
		<ul class="content-list wow fadeIn">
			<!-- <div class="tab"> -->
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block openMore">
				<div class="show-arrow"></div>
				<img src="http://lorempixel.com/600/600" alt="#">
			</li>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<!-- </div> -->
		</ul>
		<ul class="content-list wow fadeIn">
			<!-- <div class="tab"> -->
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block">
				<img src="http://lorempixel.com/600/600/nightlife" alt="#">
			</li>
			<li class="wrapper-25 img-block openMore">
				<div class="show-arrow"></div>
				<img src="http://lorempixel.com/600/600" alt="#">
			</li>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<div class="show-more">
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
				<li class="wrapper-25 img-block openMore">
					<img src="http://lorempixel.com/600/600/cats" alt="#">
				</li>
			</div>
			<!-- </div> -->
		</ul>
	</div>
	</div><!-- end container -->
	<%= partial "footer" %>