<%= partial "header" %>
<div class="container">
	

<div class="wrapper-container with-margin">
	<div class="wrapper-25 img-block">
		<img src="http://lorempixel.com/200/200" alt="#">
	</div>
	<div class="wrapper-25 img-block">
		<img src="http://lorempixel.com/200/200" alt="#">
	</div>
	<div class="wrapper-25 img-block">
		<img src="http://lorempixel.com/200/200" alt="#">
	</div>
	<div class="wrapper-25 img-block">
		<img src="http://lorempixel.com/200/200" alt="#">
	</div>
</div>





</div><!-- end container -->

<%= partial "footer" %>