<%= partial "header-sort" %>
<div class="container">
	
	<!-- <div class="wrapper-container group"> -->
		<ul class="content-list group grid" id="list--chill">
			
			<li class="wrapper-25 element-item img-block g-chill keep" data-category="g-chill">
				<!-- <a href="6qwv2f5m0xM" class="vid_trigger"></a> -->
				<!-- <div id="ytvideo" style="display:none;"></div> -->
				<img src="assets/images/1.jpeg" alt="#" vid="zDFyFhGCxD0">
				
			</li>
			<li class="wrapper-25 element-item img-block video_container g-chill" id="t2">
				<img src="assets/images/2.jpeg" alt="#" vid="zDFyFhGCxD0">
				
			</li>
			<li class="wrapper-25 element-item img-block g-chill" id="t3">
				<img src="assets/images/3.jpeg" alt="#" vid="zDFyFhGCxD0">
				
			</li>
			<li class="wrapper-25 element-item img-block g-bass">
				<img src="assets/images/2.jpeg" alt="#" vid="zDFyFhGCxD0">
				
			</li>
			<li class="wrapper-25 element-item img-block openMore g-bass">
				<div class="show-arrow"></div>
				<img src="assets/images/1.jpeg" alt="#">
			</li>
			<li class="wrapper-25 element-item img-block g-amb">
				<img src="assets/images/4.jpeg" alt="#">
				
			</li>
			<li class="wrapper-25 element-item img-block g-amb">
				<img src="assets/images/5.jpeg" alt="#">
				
			</li>
			<li class="wrapper-25 element-item img-block g-chill">
				<img src="assets/images/6.jpeg" alt="#">
			</li>
			<li class="wrapper-25 element-item img-block g-groove">
				<img src="assets/images/7.jpeg" alt="#">
			</li>
			<li class="wrapper-25 element-item img-block g-bass">
				<img src="assets/images/8.jpeg" alt="#">
			</li>
			<li class="wrapper-25 element-item img-block g-amb">
				<img src="assets/images/9.jpeg" alt="#">
			</li>
			<li class="wrapper-25 element-item img-block g-amb">
				<img src="assets/images/19.jpeg" alt="#">
			</li>
			<li class="wrapper-25 element-item img-block g-chill">
				<img src="assets/images/15.jpeg" alt="#">
			</li>
			<li class="wrapper-25 element-item img-block g-chill">
				<img src="assets/images/14.jpeg" alt="#">
			</li>
			<li class="wrapper-25 element-item img-block g-amb">
				<img src="assets/images/9.jpeg" alt="#">
			</li>
			<li class="wrapper-25 element-item img-block g-amb">
				<img src="assets/images/23.jpeg" alt="#">
			</li>
			<li class="wrapper-25 element-item img-block g-chill">
				<img src="assets/images/22.jpeg" alt="#">
			</li>
			<li class="wrapper-25 element-item img-block g-chill">
				<img src="assets/images/21.jpeg" alt="#">
			</li>
			
		</ul>
		
		
		
		
	<!-- </div> -->
	</div><!-- end container -->
	<%= partial "footer" %>